@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols");
@import url("https://uilight.netlify.app/main.css");
@import url("./styles/utility.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wishlist-badge {
  position: absolute;
  top: 14px;
  right: 129px;

  background-color: #FF0000;
  color: black;

  border-radius: 50%;
  padding: 2px 6px;

  font-size: 12px;
  font-weight: bold;
}

.cart-badge {
  position: absolute;
  top: 14px;
  right: 78px;

  background-color: #FF0000;
  color: black;

  border-radius: 50%;
  padding: 2px 6px;

  font-size: 12px;
  font-weight: bold;
}